@model AddTicketsVM;

<div class="card" style="width: 50vw;">
    <div class="card-body">
        <form asp-action="Add" method="post">

            <div class="form-group">
                <label asp-for="Title"></label>
                <input class="form-control" asp-for="Title" />
            </div>

            <div class="form-group">
                <label asp-for="Severity"></label>
                <select asp-for="Severity" asp-items="Html.GetEnumSelectList<Severity>()"></select>
            </div>

            <div class="form-group">
                <label asp-for="Description"></label>
                <input class="form-control" asp-for="Description" />
            </div>

            <button class="btn btn-success"> Submit </button>
        </form>
    </div>
</div>